*
!.gitignore
!README.md
!asr.cpp
!_asr.cpp
!user_file/
!user_file/\[60000\]{cmd_info}.xlsx.bin
!user_file/cmd_info/
!user_file/cmd_info/\[60000\]{cmd_info}.xlsx
!user_file/cmd_info/\[60000\]{cmd_info}.xlsx.bin
!user_code/
!user_code/\[0\]code.bin
!asr_pro_sdk/
!asr_pro_sdk/projects/
!asr_pro_sdk/projects/offline_asr_sample/
!asr_pro_sdk/projects/offline_asr_sample/project_file/
!asr_pro_sdk/projects/offline_asr_sample/project_file/makefile
